body {
	padding-top: 2em;
	padding-bottom: 2em;
}

h1 {
	font-style: italic;
	font-weight: normal;
	font-size: 48pt;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #000;
	line-height: 48pt;
}
h1 a, h1 a:hover {
	color: #000;
}

h2 {
	font-style: italic;
	font-weight: normal;
	font-size: 24pt;
	margin-top: 0px;
	padding-top: 0px;
	color: #666;
}

h4 {
	font-style: italic;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

p {
	text-align: justify;
	color: #22222a;
	font-size: 1rem;
}

.sidebar {
	padding-top: 86pt;
}

.sidebar h3 {
	text-align: right;
	color: #666;
}

.sidebar p {
	text-align: right;
}

.highlight {
	border-radius: 12px;
	padding: 10px 13px 15px 13px;
	margin-left: -15px;
	margin-bottom: 12pt;
}

code {
	font-family: Monaco, Consolas, "Liberation Mono", Courier, monospace;
	font-weight: normal;
	font-size: 10pt;
	color: #F8F8F8;
	border-radius: 3px;
	padding: 0px 4px 0px 4px;
	margin: 0px 0px 0px 0px;
	background-color: #000000;
}

pre code {
	padding: 0px;
	margin: 0px;
}
