<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/app.css">
  <script src="/js/modernizr.js"></script>
  <script type="text/javascript" src="//use.typekit.net/zdy6hld.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="row">
    <div class="small-12 medium-9 large-9 columns">
		<h1><a href="/">a devlog of sorts</a></h1>
		<h2>with the occasional rant</h2>
		{{ content }}
    </div>
    <div class="small-12 medium-3 large-3 columns sidebar">
		<h3>@madisp</h3>
		<p>
			Android dev in Stockholm<br />
			<a href="https://github.com/madisp">github</a><br />
			<a href="http://twitter.com/madisp">twitter</a>
		</p>
    </div>
  </div>
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
